@import "@fontsource/manrope/400.css";
@import "@fontsource/manrope/700.css";
@import "@fontsource/manrope/800.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Core Layout Fixes */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Base Styling */
:root {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #000;
  color: #fff;
}

/* Link Styling */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

/* Button Styling */
button {
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 2px solid white; /* or white, or your brand color */
}

.callout {
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  font-weight: 900;
  color: white;
  z-index: 999;
  text-align: center;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  transform-style: preserve-3d;
  perspective: 800px;
  
}
